* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0d0d0d;
}

/* CABECALHO */
.cabecalho {
    background-color: #0d0d0d;
    width: 100%;
    padding: 20px 40px 20px 20px;
    border-bottom: 1px solid #ffffff;
}

.cabecalho-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* BARRA DE NAVEGACAO */
.cabecalho-nav ul {
    display: flex;
    list-style: none;
}

.cabecalho-nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    transition: 0.3s ease-in-out;
}

.cabecalho-nav ul li a:hover {
    color: #e62429;
    text-shadow: 0 0 3px #b62e32;
}

/* LOGO */
.logo {
    width: 100px;
    height: 40px;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    box-shadow: 0 0 10px#e62429;
}

/* SLIDESHOW */
.banner {
    background-size: cover;
    height: 100vh;
    background-position: right;
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    transition: background-image 1s ease-in-out;
    /* Adicione uma transição suave */
}

.banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    /* De baixo para cima */
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, #0d0d0d 0%, #0d0d0d77 30%, #0d0d0d00 100%);
}

/* PSEUDO-ELEMENTO REALIZA UMA AÇÃO ANTES OU DEPOIS */
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* garante que não sofra sobreposição na imagem*/
}

.banner-conteudo {
    width: 50%;
    position: relative;
    z-index: 2;
}

.banner-titulo {
    font-size: 3em;
    margin: 20px 0 0 5%;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    transition: 0.1s ease-in-out;
}

.banner-descricao {
    font-size: 1.2em;
    margin: 20px 0 0 5%;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    transition: 0.1s ease-in-out;
}

/* DE UIVERSE.IO */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    margin: 5%;
    font-size: inherit;
    font-family: "Montserrat", sans-serif;
}

button.ver-mais {
    width: 12rem;
    height: auto;
}

button.ver-mais .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #e62429;
    border-radius: 1.625rem;
}

button.ver-mais .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.ver-mais .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.ver-mais .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.ver-mais .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #ffffffbb;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

/* SOBRE */
#sobre {
    margin: 5%;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

#sobre h2 {
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 10px;
}

#sobre p {
    color: #b3b3b3;
    font-family: "Montserrat", sans-serif;
}

/* CARDS FANTASIAS */
#fantasias{
    margin: 5%;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

#fantasias header h2 {
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 10px;
}

#fantasias header p {
    color: #b3b3b3;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5vh;
}

.cards-line1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.cards-line2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.card {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1b1b1b;
    background: #111;
    width: 25%;
    box-shadow: 0 0 15px #e6252f28;
    transition: 0.3s;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 0 25px #e6252f54;
    border: 1px solid #e62429;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.titulo-card {
    color: #ffffff;
    margin: 15px;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
}

.descricao{
    color: #cfcfcf;
    margin: 0 15px 10px;
    line-height: 1.4;
    font-size: 0.95rem;
    font-family: "Montserrat", sans-serif;
}

.preco{
    text-shadow: 0 0 5px #e62429;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0 15px 15px;
    font-family: "Bebas Neue", sans-serif;
}

.comprar{
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #e62429;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.preco-comprar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* FOOTER */
footer{
    background: #050505;
    padding: 5%;
}

.footer-section {
    display: flex;
    justify-content: space-between;
}

.footer-coluna1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    height: 150px;
}

.footer-info p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.footer-coluna2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.footer-coluna2 a {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.footer-bottom {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* DE UIVERSE.IO */
ul {
    list-style: none;
}

.footer-contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    /* Made bolder */
    background-color: #050505;
    border-radius: 30px;
    padding: 20px;
    height: 70px;
    width: 300px;
}

.footer-contatos .icon-content {
    margin: 0 10px;
    position: relative;
    font-weight: bolder;
}

.footer-contatos .icon-content .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    /* White icons */
    background-color: #000;
    /* Black background */
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
    /* Made bolder */
}

.footer-contatos .icon-content .link:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.footer-contatos .icon-content .link svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    /* White icons */
}

.footer-contatos .icon-content .link[data-social="facebook"]:hover {
    color: #00a2ff;
}

.footer-contatos .icon-content .link[data-social="instagram"]:hover {
    color: #ff009d;
}

.footer-contatos .icon-content .link[data-social="twitter"]:hover {
    color: #686868;
}

.footer-contatos .icon-content .link[data-social="mail"]:hover {
    color: #23b100;
}